
@{
    ViewBag.Title = "AddCar";
}


<section>
    <div class="container">

        <!-- formularz dodawania auta -->

        <form action="add_car.php" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="przykladowaMarka">Marka:</label>
                <input type="text" class="form-control" name="marka" placeholder="Podaj markę samochodu">
            </div>
            <div class="form-group">
                <label for="model">Model:</label>
                <input type="text" class="form-control" name="model" placeholder="Podaj model samochodu">
            </div>
            <div class="form-group">
                <label for="rejestracja">Rejestracja:</label>
                <input type="text" class="form-control" name="rejestracja" placeholder="Podaj rejestrację samochodu">
            </div>
            <div class="form-group">
                <label for="vin">VIN:</label>
                <input type="text" class="form-control" name="vin" placeholder="Podaj numer VIN samochodu">
            </div>
            <div class="form-group">
                <label for="rok_produkcji">Rok produkcji:</label>
                <input type="text" class="form-control" name="rok_produkcji" placeholder="Podaj rok produkcji samochodu">
            </div>
            <div class="form-group">
                <label for="fotka">Zdjęcie samochodu:</label>
                <input type="file" id="fotka_auta" name="plik" placeholder="Dodaj zdjęcie">
            </div>


            <button type="submit" class="btn btn-primary">Dodaj auto</button>
        </form>

    </div>


</section>