
@{
    ViewBag.Title = "AddUser";
}


<section>
    <div class="container">


        <!-- formularz dodwania użytkownika -->

        <form >
            <div class="form-group">
                <label for="przykladowyLogin">Login</label>
                <input type="text" class="form-control" name="login" placeholder="Wpisz login">
            </div>
            <div class="form-group">
                <label for="haslo">Hasło</label>
                <input type="password" class="form-control" name="haslo" placeholder="Wpisz hasło">
            </div>
            <div class="form-group">
                <label for="imie">Imię</label>
                <input type="text" class="form-control" name="imie" placeholder="Wpisz imię">
            </div>
            <div class="form-group">
                <label for="nazwisko">Nazwisko</label>
                <input type="text" class="form-control" name="nazwisko" placeholder="Wpisz nazwisko">
            </div>
            <button type="submit" class="btn btn-primary">Dodaj użytkownika</button>
        </form>

    </div>


</section>